<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'> 
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method='get' action='/author'>
    	Autor de la página: Carlos Castells Caballos <p>
      <img src='/images/CJCC.jpg' alt='CJCC' style='width:128px;height:128px;'>
    </form>
  </body>
</html>